<br>
<div class="container pad-down">
    <%= simple_form_for :task, url: create_task_path, method: "post" do |f| %>
    <%= f.input :name, placeholder: 'example: pick up the kids' %>
    <%= f.input :location, inline_label: 'Enter Valid Address' %>
    <%= f.button :submit %>
  <% end %>
</div>
