.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#directions-panel {
  background-color: transparent;
  overflow: scroll;
  max-height: 400px;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#warnings-panel {
  width: 100%;
  height:10%;
  text-align: center;
}


.collapsed, button, navbar-toggle {
  border: none;
}
/*fixes map css rule for other divs*/
.profilePic{
  max-width: 300px;
  width: 100%;
  margin: auto;
}
.flash{
  padding-top: 55px;
  position: fixed;
  z-index: 999;
  width: 33%;
  margin: 0 auto;
  margin-left: 33%;
}
.newTask{
  float: right;
  width: 100px;
}
.tasksShow{
  margin: 0 auto;
  width: 90%;
}
.editDelete{
  width: 75px;
}
.taskLoc{
  text-align: right;
}
.newGo{
  width: 50%;
}
.denied{
  text-align: center;
  margin-top: 10%;
}
@media (max-width: 990px) {
  .userInfo{
    text-align: center;
  }
  .goBtn{
    float: right;
  }
  .taskBtn{
    float: left;
  }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #4E5D6C;*/
}

.text-muted {
  color: #bdc3c7;
}

.panel {
  min-height: 100%;
}

.whole-page {
  min-height: 100%;
  margin-top: 3%;
}

.profile-img {
  width: 20%;
  margin: 0 auto;
}

.btn {
  border-radius: 2px;
}

.caption p {
  text-align: center;
}

.table {
  text-transform: capitalize;
}

.navbar {
  padding: 5px;
}

.navbar img {
  width: 25px;
  margin-top: -6px;
}

.div .navbar-brand {
  margin-top: 0;
}

html.turbolinks-progress-bar::before {
  background-color: #2ecc71 !important;
  height: 6px !important;
}

.btn-push {
  margin-top: -30px;
}

.aboutlabel:hover {
  color: black;
}

footer .btn-push {
  float: right;
  padding: 5px;
}

.btn-push {
  transition: all .2s ease-in-out;
    margin-bottom: 10px;
}
.btn-push:hover {
  transform: scale(1.1);
}





/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.feature-heading {
  text-align: center;
}


/*FRONT PAGE CUSTOM CSS*/
.front-page {
  text-align: center;
}

.logo {
  padding-top: 5%;
  padding-right: 6%;
  max-width: 75%;
}

.logo-form {
  padding-right: 15px;
  width: 35%;
}


@media (max-width: 767px) {
  .logo-form {
    width: 30%;
  }
}
@media (max-width: 991px) {
  .logo-form {
    width: 30%;
  }
}


.head{
  text-align: center;
  margin-bottom: 45px;
  color: #000;
}
.aboutUsPic{
  max-width: 75%;
  max-height: 55%;
  border: 5px solid black;
  border-radius: 25px;
  margin-left: 13%;
}
.bio{
  text-align: center;
  font-size: .8em;
  padding: 10px;
  color: #000;
}
.name{
  text-align: center;
  color: #000;
}
.aboutApp{
  text-align: center;
  padding: 10px;
  font-size: .8em;
  color: #000;
}
.sponsors{
  max-width: 23%;
}

.lead {
  padding: 15px;
}
